textarea {
    color: #E5FFFF;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 8px;
    width: 100%;
    padding-bottom: 0px;
    height: 100%
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

textarea:focus {
    outline: none;
    opacity: 1;
    resize: none;
    height: 3rem;
}

textarea::placeholder {
    color: #E5FFFF;
}

.content {
    margin-bottom: 0 !important;
    word-wrap: break-word;
}

@media screen and (min-width: 920px) {
    textarea {
        color: #E5FFFF;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 8px;
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
    }
    .content {
        margin-bottom: 0 !important;
        width: 100%;
        word-wrap: break-word;
    }
    textarea:focus {
        outline: none;
        opacity: 1;
        resize: none;
        height: 5rem;
    }
}